@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
html, #root, .app, body {
  font: Playwrite GB S;
  height: 100%;
  width: 100%;
}
